*, *::before, *::after{
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body{
    background-color: lightslategrey;
    margin: 0;
    padding: 0;
}

.Calculator-grid {
    display: grid;
    justify-content: center;
    align-items: content;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.Calculator-grid > button {
    cursor: pointer;
    font-size: 2rm;
    border: 1p, solid #FFFFFF;
    outline: none;
    background-color: rgba(255, 255, 255, o.75);
}

.Calculator-grid > button:hover{
    background-color: #a9a9a9;   
}

.spanTwo{
    grid-column: span 2;
    color: #adf802;
    background-color: rgba(139,0,139,0.8);

}

.output{
    grid-column: 1 /-1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.output .curent-operand{
    color: white;
    font-size: 2.5;
}
h1{
    align-items: center;
    color: black;
}